body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#User-Container{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section img{
  width: 100px;
}
.user-Box{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
}